* {
	font-family: "CaskaydiaCove Nerd Font Mono", monospace;
	font-size: 13px;
}

window#waybar {
	padding: 0;
	background: rgba(45, 53, 59, 0.9);
	color: #d3c6aa;
}

#workspaces button {
	padding: 2px;
	color: #859289;
}

#workspaces button.active {
	background-color: #a7c080;
	color: #2d353b;
}

#battery,
#bluetooth,
#power-profiles-daemon,
#network,
#custom-sys-info,
#battery label,
#power-profiles-daemon label,
#network label,
#custom-sys-info label {
	padding: 0 6px;
	font-size: 13px;
	color: #7fbbb3;
	min-width: 24px;
	margin: 2px 2px;
}

#clock,
#language {
	padding: 0 4px;
	color: #dbbc7f;
}
